/**
 * Styles for the unlv_internal_2015 theme.
 */

/* Main Content Regions */
/**************************************************************************************/

/* the container for all main content including drupal tabs */
#main-content-container {
	padding:	 0;
}

/* the container below the drupal tabs */
#block-system-main {
	margin:0; 
	padding:0;
}

/* Right Content Region */
/**************************************************************************************/
.region-sidebar-second {
}

.region-sidebar-second section {
	margin:0;
	padding:0;	
}


/* System Container - Drupal tabs, messages, etc... */
/**************************************************************************************/
.system-container {
}